.contributorProductionSideInfo {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}
.contributorProductionSide {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.staffSide {
  text-align: right;
  background-color: var(--background-alt-blue-ecume);
  border-radius: 20px;
  padding: 20px;
  margin-left: 140px;
}
.textInCard {
  text-align: center;
}
.basket {
  position: fixed;
  right: 0;
  top: 0;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
  z-index: 1000;
  background-color: white;
  border-radius: 20px;
  border: 2px solid black;
  max-height: 500px;
  overflow-y: auto;
}
.basket-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
