.contributorSide {
  background-color: var(--background-alt-green-emeraude);
  border: 1px solid var(--background-alt-green-emeraude);
  border-radius: 10px;
  margin-bottom: 10px;
  margin-right: 200px;
  padding: 20px;
}
.contributorSideContact {
  background-color: var(--background-alt-brown-caramel);
  border: 1px solid var(--background-alt-brown-caramel);
  border-radius: 10px;
  margin-bottom: 10px;
  margin-right: 200px;
  padding: 20px;
}
.staffSide {
  text-align: right;
  background-color: var(--background-alt-pink-macaron);
  border-radius: 20px;
  padding: 20px;
  margin-left: 140px;
}
.staffSideContact {
  text-align: right;
  background-color: var(--background-alt-blue-cumulus);
  border-radius: 20px;
  padding: 20px;
  margin-left: 140px;
}

.contributionItem {
  border-bottom: 10px solid #ccc;
  padding-bottom: 20px;
  padding-top: 10px;
  margin-bottom: 20px;
}

.accordion {
  width: 100%;
}
.contributorInfo {
  width: 100%;
  text-align: right;
}
