.received-mail {
  border-radius: 20px;
  padding: 20px;
  margin-right: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  word-wrap: break-word;
  overflow: hidden;
}

.email-content {
  padding: 1rem;
  border: 1px solid #ccc;
  background-color: #f9f9f9;

  a {
    color: #007bff;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}

@media (max-width: 768px) {
  .email-item {
    padding: 1rem;
  }
  .email-content {
    font-size: 0.9rem;
  }
  .copy-icon {
    display: inline-block;
    margin-left: 0.5rem;
  }
}
