.received-mail {
  text-align: left;
  background-color: var(--background-alt-pink-macaron);
  border-radius: 20px;
  padding: 20px;
  margin-right: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  word-wrap: break-word;
  overflow: hidden;
}
.email-content {
  margin: 1rem 0; /* Marge autour du contenu */
  padding: 1rem; /* Remplissage interne */
  border: 1px solid #ccc; /* Bordure */
  border-radius: 4px; /* Coins arrondis */
  background-color: #f9f9f9; /* Couleur de fond légère */
  font-family: Arial, sans-serif; /* Police de caractère */
  font-size: 14px; /* Taille de la police */
  line-height: 1.6; /* Hauteur de ligne pour l'espacement */

  a {
    color: #007bff; /* Couleur des liens */
    text-decoration: underline; /* Soulignement des liens */

    &:hover {
      text-decoration: none; /* Supprimer le soulignement au survol */
    }
  }
}

@media (max-width: 768px) {
  .email-item {
    padding: 1rem;
  }
  .email-content {
    font-size: 0.9rem;
  }
  .copy-icon {
    display: inline-block;
    margin-left: 0.5rem;
  }
}
