.contributorSideMessage {
  background-color: var(--background-alt-green-emeraude);
  border: 1px solid var(--background-alt-green-emeraude);
  border-radius: 10px;
  margin-bottom: 5px;
  margin-right: 250px;
  padding: 15px;
}

.user-side {
  text-align: left;
  background-color: var(--background-alt-pink-macaron);
  border-radius: 20px;
  padding: 20px;
  margin-right: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  word-wrap: break-word;
  overflow: hidden;
}

.staffSide {
  text-align: right;
  border-radius: 20px;
  padding: 20px;
  margin-left: 140px;
  margin-top: 10px;
  word-wrap: break-word;
  overflow: hidden;
}

.staffSideContact {
  text-align: right;
  border-radius: 20px;
  padding: 20px;
  margin-left: 140px;
}

.comment {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--background-alt-blue-cumulus);
  margin-bottom: 20px;
}
.fr-sidemenu__btn[aria-expanded="true"]:after {
  display: none;
  background-color: green;
}
.fr-sidemenu__btn[aria-expanded="false"]:after {
  display: none;
}
.contribution-message {
  font-style: italic;
  font-size: 11px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
