.highlight {
  background-color: var(--background-contrast-yellow-tournesol);
  color: var(--text-default-grey);
  font-weight: 700;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-x: auto;
  max-width: 100%;
  padding: 1rem;
  border-radius: 0.25rem;
  background-color: var(--background-contrast-grey);
  color: var(--text-default-grey);
}

.home-contribution-card {
  .fr-card__desc {
    overflow-wrap: anywhere;
  }
}
